<div class="container d-flex justify-content-around">
      <form class = "float-left" id = "login-form">
        <div>
        <h4>
          Log In Here:
        </h4>
      </div>
        <div class="form-group">
          <label for="email-login">Email address</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password-login">Password</label>
          <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary my-1" id = "logInButton">Submit</button>
      </form>

      <form class="float-right" id = "signup-form">
        <div>
          <h4>
            Sign Up Here:
          </h4>
          
        </div>
        <div class="form-group">
          <label for="username-signup">Username</label>
          <input type="text" class="form-control" id="username-signup" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="email-signup">Email address</label>
          <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email">
        <div class="form-group">
          <label for="password-signup">Password</label>
          <input type="password" class="form-control" id="password-signup" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary my-1" id="signupButton">Submit</button>
      </form>
</div>



